extends layout

block content
  h1= title
  - let results  = [{ name: "One Indian Girl", cost: 5.09, author: "Chetan Bhagat" },{ name: "A Bend in the River", cost: 10.09, author: "V.S.Naipaul" },{ name: "A River Sutra", cost: 9.99, author: "Gita Mehta" }]
  div.container-fluid
    div.row
      each book, index in results
        div.col-sm-4.mb-3
          div.card(style="width: 18rem;")
            img.card-img-top(src="book-cover.jpg", alt="Book Cover")
            div.card-body
              h5.card-title #{book.name}
              p.card-text
                strong Cost: #{book.cost.toFixed(2)}
                br
                strong Author: #{book.author}
              a.btn.btn-primary(onclick=`buy(${index})`) Buy Now
              hr
              - let destination = `dispatch("/books/update?id=${book._id}")`;

                div(class="row-sm-2", class="m-1")
                | Book #{book.name} (#{book.author}) is #{book.cost}
                button.btn(class="btn-primary ml-1", onclick=destination) Update
                a(class="btn btn-success" href="/books/create") Create
                a(class="btn btn-danger" href=`/books/delete?id=${book._id}`) Delete
                a(class="btn btn-dark" href=`/books/detail?id=${book._id}`) Details

              //-script.
               //- function buy(index) {
                  //-alert(`You purchased item ${index + 1}`);
                //-}

    script. 
        function dispatch(path) {
            window.location.href = path
        }

