extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let booksid = toShow._id
    - let name = toShow.name
    - let author = toShow.author
    - let cost = toShow.cost
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{booksid}
    - let actionid = "/resource/books/" + booksid
    form(id='booksForm', action=actionid, method="POST")
      div.form-group
        label.booksAttr(for='name') books type
        input#name(type='text', name='name', value=name)
      div.form-group
        label.booksAttr(for='cost') books cost
        input#cost(type='number', name='cost', value=cost)
      div.form-group
        label.booksAttr(for='author') books author
        input#author(type='text', name='author', value=author)
      input(type="submit")
    script.
      document.forms['booksForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO: handle body
        }).catch((error) => {
          // TODO: handle error
          alert("Update failed " + error);
        });
      });
